.container {
  background-color: lightgrey;
  width: 200px;
  height: 300px;
  display: inline-block;
}
/* Container1/ipad  */
#ipad {
  position: relative;top
}
#pd1 {
width: 150px;
height: 200px;
}






/* Container2/iphone  */
/* Container3/bose  */
